@page
@using Microsoft.Extensions.Localization
@using ModuleTest.Localization
@using ModuleTest.Web.Pages.ModuleTest
@model ModuleTest.Web.Pages.ModuleTest.IndexModel
@inject IStringLocalizer<ModuleTestResource> L

@{
}
<h1>ModuleTest</h1>
<p>@L["SamplePageMessage"]</p>
